<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arun Shrestha</title>
    <!--this is where my links to js and css go-->
    <%- partial('./partials/header') %>
</head>
<body>
    <%- partial('./partials/navbar') %>
    <!--<p> This is the layout</p>-->
    <!--this is where the page gets injected-->
    <div class="container">
    <%-body %>
    <!--<P>This is the layout </p>-->
    </div>
</body>
</html>